<nz-card nzTitle="Reservar Hotel" class="search-card" nzBorderless>
  <nz-form-label nzFor="city" nzNoColon>Destino<small>*</small></nz-form-label>
  <input
    nz-input
    [nzAutocomplete]="auto"
    [(ngModel)]="inputValue"
    placeholder="Ex: Belo Horizonte"
    name="city"
    id="city"
    (ngModelChange)="onChangeCityValue($event)"
  />
  <nz-autocomplete #auto
    ><nz-auto-option
      *ngFor="let option of filteredOptions"
      [nzValue]="option.name"
      >{{ option.name }}, {{ option.state.name }}</nz-auto-option
    ></nz-autocomplete
  >

  <div nz-row nzJustify="end">
    <button
      nz-button
      nzType="primary"
      nzShape="round"
      nzSize="large"
      (click)="onSearchCity()"
      [disabled]="!inputValue"
    >
      {{ hasSearched ? "Alterar Busca" : "Buscar" }}
    </button>
  </div>
</nz-card>
