<nz-card nzBorderless [nzBodyStyle]="{ padding: 0 }" class="hotel-card">
  <div nz-row>
    <div nz-col nzSpan="8">
      <nz-carousel nzEffect="fade">
        <div nz-carousel-content *ngFor="let image of hotel.images">
          <div class="image-wrapper">
            <img [src]="image" alt="hotel" />
          </div>
        </div>
      </nz-carousel>
    </div>
    <div nz-col nzSpan="10" class="card-details">
      <h3 nz-typography>{{ hotel.name }}</h3>
      <h5 nz-typography>
        {{ hotel.address.city }}, {{ hotel.address.district }}
      </h5>
      <div>
        <div nz-row nzAlign="middle" class="card-rate">
          <small>{{ toFloat(hotel.stars).toFixed(1) }}</small>
          <nz-rate [ngModel]="toFloat(hotel.stars)" nzDisabled></nz-rate>
        </div>
        <div class="badge" *ngIf="hotel.hasRefundableRoom">Reembolsável</div>
      </div>
    </div>
    <div nz-col nzSpan="6" class="card-price">
      <small>A partir de:</small>
      <h3 nz-typography>
        <small>R$</small>{{ convertToCurrency(hotel.price) }}
      </h3>
      <span>R${{ convertToCurrency(hotel.price / 3) }} /noite</span>
      <span>Impostos inclusos</span>
      <div style="margin-top: 40px">
        <button nz-button nzType="primary" nzShape="round" nzSize="large">
          Selecionar
        </button>
      </div>
    </div>
  </div>
</nz-card>
