.ant-card {
  border-radius: 8px;
  height: 272px;

  .ant-card-body,
  .ant-row {
    height: 100%;
  }

  .card-price,
  .card-details {
    padding: 16px 12px;
  }

  .card-price {
    border-left: 1px solid #c4c4c4;
  }

  h3 {
    margin-bottom: 4px;
  }

  h5 {
    color: #7e7e7e;
    font-weight: 400;
    margin: 0 0 16px;
  }

  span {
    display: block;
  }

  .badge {
    border-radius: 4px;
    color: #fff;
    background-color: #7e7e7e;
    padding: 2px 20px;
    display: inline-block;
  }

  .slick-list,
  .slick-initialized,
  .slick-track,
  .slick-slide,
  .slick-slider {
    height: 100%;

    .image-wrapper {
      width: 100%;
      height: 100%;
      border-radius: 8px 0 0 8px;

      img {
        max-width: 100%;
        height: 100%;
        border-radius: 8px 0 0 8px;
      }
    }
  }
}
