.ant-card.hotel-card {
  border-radius: 8px;
  height: 272px;

  .ant-card-body,
  .ant-row {
    height: 100%;
  }

  .card-price,
  .card-details {
    padding: 16px 12px;
  }

  .card-price {
    border-left: 1px solid #e2e2e2;
  }

  .card-rate {
    .ant-rate {
      display: flex;
      align-items: center;
      gap: 4px;
      margin: 0 12px 0 8px;

      .ant-rate-star {
        margin: 0;
      }
    }

    .ant-rate,
    small {
      font-size: 11px;
    }
  }

  h3 {
    line-height: 1;
    margin-bottom: 4px;
  }

  h5.ant-typography {
    color: #7e7e7e;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 16px;
  }

  span {
    display: block;
  }

  .badge {
    border-radius: 4px;
    color: #fff;
    background-color: #7e7e7e;
    padding: 2px 20px;
    display: inline-block;
    margin-top: 8px;
  }

  .stars-group,
  .amenities {
    display: flex;
    align-items: center;
  }

  .amenities {
    border-left: 1px solid #7e7e7e;
    padding: 0 12px;
    gap: 8px;

    .anticon {
      color: #7e7e7e;
      font-size: 16px;
    }
  }

  .slick-list,
  .slick-initialized,
  .slick-track,
  .slick-slide,
  .slick-slider {
    height: 100%;

    .image-wrapper {
      width: 100%;
      height: 100%;
      border-radius: 8px 0 0 8px;

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px 0 0 8px;
      }
    }
  }
}

.slick-slide:last-child {
  img {
    object-fit: contain;
  }
}
